{% extends 'base.html.twig' %}

{% block title %}Hello AddExperienceController!{% endblock %}

{% block body %}

<div class="col-span-full">
    {{ form_start(formExperience,{'attr': {'class': 'flex flex-col bg-gray-300 rounded-2xl shadow-2xl p-4 m-auto w-9/12 border-2'}}) }}
    {{ form_label(formExperience.nom) }}
    {{ form_widget(formExperience.nom) }}
    {{ form_label(formExperience.descriptif) }}
    {{ form_widget(formExperience.descriptif) }}
    {{ form_label(formExperience.competence_utilise) }}
    {{ form_widget(formExperience.competence_utilise) }}
    {{ form_label(formExperience.type) }}
    {{ form_widget(formExperience.type) }}
    <span class="self-end">
       {{ form_widget(formExperience) }}
    </span>
    <div class="mt-10 text-right underline italic"><a href="{{ path('add_experience') }}">Suivant</a></div>

    {{ form_end(formExperience) }}
</div>
{% endblock %}
