{% extends 'base.html.twig' %}

{% block title %}Hello ={% endblock %}

{% block body %}
    {% if app.user %}
        {% if app.user.isVerified %}
        <div class="col-span-full mb-4">
            {% for message in app.flashes('success') %}
                <div class="flex justify-center items-center my-2 p-2 text-gray-900 col-span-full border rounded-2xl bg-green-300">{{ message }}</div>
            {% endfor %}

            <div class="m-auto border rounded-2xl p-2 w-9/12 text-2xl text-center text-gray-900 bg-gray-300 underline">
                <a href="{{ path('add_competence') }}">Veuillez désormais completer votre profil.</a>
            </div>
        </div>

        {% elseif app.user.isCompleted %}
            <h1 class="flex justify-center items-center col-span-full text-6xl text-gray-900 font-bold text-center ">Profil</h1>
            <section class="details-general bg-gray-400 p-2 m-2 col-span-3 ">
                <div class="identite flex flex-col items-center mb-8">
                    <img src="https://picsum.photos/300" alt="photo de profil" class="w-40 object-contain rounded-full">
                    <div class="flex p-4 text-2xl font-bold">
                        <p class="mr-4"> {{app.user.prenom}}</p>
                        <p>{{app.user.nom}}</p>
                    </div>
                </div>
                <div class="detail-individu grid grid-cols-1 gap-4">
                    <div class="adresse">
                        <span class="titre-detail">Adresse</span> <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sit?
                    </div>
                    <div class="postal">
                        <span class="titre-detail">Code Postal</span> <br>
                        12345
                    </div>
                    <div class="ville">
                        <span class="titre-detail">Ville</span> <br>
                        Lorem ipsum.
                    </div>
                    <div class="ancienneté">
                        <span class="titre-detail">Date d'anniversaire entreprise</span> <br>
                        xx/xx/xxxx
                    </div>
                    <div class="telephone">
                        <span class="titre-detail">Téléphone</span> <br>
                        xx-xx-xx-xx-xx
                    </div>
                    <div class="competences-principales">
                        <span class="titre-detail">Compétences principales</span> <br>
                        <div class="competences grid grid-cols-3 break-words text-xs text-center gap-2">
                            <p class="competence">Compétence</p>
                            <p class="competence">Compétence</p>
                            <p class="competence">Compétence</p>
                            <p class="competence">Compétence</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="details-avance bg-gray-400 p-2 m-2 col-start-4 col-span-9">
                test
                {{ dump(app.user) }}

            </section>
            {% else %}
                <p class="col-span-full text-4xl text-gray-300">Veuillez confirmez votre adresse email avant de continuer sur Qivahou</p>
        {% endif %}
    {% endif %}


{% endblock %}
