{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="col-span-full">
    {{ form_start(form,{'attr': {'class': 'flex flex-col bg-gray-300 rounded-2xl shadow-2xl p-4 m-auto w-9/12 border-2'}}) }}

    {{ form_label(form.query) }}
    {{ form_widget(form.query) }}
    {{ form_label(form.option) }}
    {{ form_widget(form.option) }}
    {{ form_label(form.Rechercher) }}
    {{ form_widget(form.Rechercher) }}
    {{ form_end(form) }}
    <div class=" border rounded-2xl shadow-2xl text-gray-300 bg-gray-900 mt-4">
        <h2 class="font-bold text-2xl text-center mb-4">Résultats </h2>
        {% if result is defined %}
                <ul class="grid grid-cols-4 gap-4 p-2 ">
                    {% if resultCount > 0 %}
                    {% for user in result %}
                        <li class="border rounded-2xl shadow-2xl p-2 bg-gray-700 flex flex-col">
                            <div>
                                <h2 class="text-center font-bold mb-2">{{ user.nom }}</h2>
                                <a href="{{ path('view_profil',{'id':user.id }) }}">Voir le profil complet </a>
                            </div>
                        </li>
                    {% endfor %}
                    {% else %}
                        <li>Pas de résultat</li>
                    {% endif %}
                </ul>
        {% else %}
        {% if niveauCount > 0 %}
            <div class="grid grid-cols-3">
                <div class="grid-col-1">
                    <h3 class="text-center font-bold mb-6">Maitrise avancé</h3>
                    {% if high %}
                        <ul>
                            {% for user in high %}
                                <li class="border rounded-2xl shadow-2xl p-2 bg-gray-700 flex flex-col">
                                    <div>
                                        <h2 class="text-center font-bold mb-2">{{ user.nom }}</h2>
                                        <a href="{{ path('view_profil',{'id':user.id }) }}">Voir le profil complet </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Pas de résultats</p>
                    {% endif %}
                </div>

                <div class="grid-col-2">
                    <h3 class="text-center font-bold mb-6">Maitrise intermédiare</h3>
                    {% if medium %}
                        <ul>
                            {% for user in medium %}
                                <li class="border rounded-2xl shadow-2xl p-2 bg-gray-700 flex flex-col">
                                    <div>
                                        <h2 class="text-center font-bold mb-2">{{ user.nom }}</h2>
                                        <a href="{{ path('view_profil',{'id':user.id }) }}">Voir le profil complet </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    {% else %}
                        <p>Pas de résultats</p>
                    {% endif %}
                </div>

                <div class="grid-col-3">
                    <h3 class="text-center font-bold mb-6">Maitrise débutant</h3>
                    {% if low %}
                    <ul>
                        {% for user in low %}
                            <li class="border rounded-2xl shadow-2xl p-2 bg-gray-700 flex flex-col">
                                <div>
                                    <h2 class="text-center font-bold mb-2">{{ user.nom }}</h2>
                                    <a href="{{ path('view_profil',{'id':user.id }) }}">Voir le profil complet </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    {% else %}
                    <p>Pas de résultats</p>
                </div>
                {% endif %}
            </div>
        {% else %}
                <div class="m-auto font-bold text-2xl text-center"> Pas de résultat </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
