{% extends 'base.html.twig' %}

{% block title %}Hello DocumentController!{% endblock %}

{% block body %}

    <div class="col-span-full grid grid-cols-12">
        {{ form_start(formAddDocument,{'attr': {'class': 'relative col-span-8 flex flex-col bg-gray-300 rounded-2xl shadow-2xl p-4 m-auto w-9/12 border-2'}}) }}
        {{ form_label(formAddDocument.filename,null,{'label_attr': {'class': 'font-bold text-2xl text-center mb-4'}}) }}
        {{ form_widget(formAddDocument.filename) }}
        {% for message in app.flashes('ErrorUploadDocument') %}
            <div class="flex justify-center items-center my-2 p-2 text-gray-900 col-span-full border rounded-2xl bg-red-300">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('alreadyDocs') %}
            <div class="flex justify-center items-center my-2 p-2 text-gray-900 col-span-full border rounded-2xl bg-red-300">{{ message }}</div>
        {% endfor %}
        {{ form_end(formAddDocument) }}


        {{ form_start(formAddPhoto,{'attr': {'class': 'relative col-span-4 flex flex-col bg-gray-300 rounded-2xl shadow-2xl p-4 m-auto w-9/12 border-2'}}) }}
        {{ form_label(formAddPhoto.imageName,null,{'label_attr': {'class': 'font-bold text-2xl text-center mb-4'}}) }}
        {{ form_widget(formAddPhoto.imageName) }}
        {% if app.user.filename.filename is defined and app.user.documents.count == 2 %}
            <div class="absolute bottom-2 right-1.5 rounded-2xl shadow-2xl">
                <a href="{{ path('app_inscription_fini') }}" class="p-2 underline font-bold border bg-gray-700 text-gray-300">Inscription
                    fini.</a>
            </div>
        {% endif %}
        {% for message in app.flashes('ErrorUploadImage') %}
            <div class="flex justify-center items-center my-2 p-2 text-gray-900 col-span-full border rounded-2xl bg-red-300">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('alreadyPhoto') %}
            <div class="flex justify-center items-center my-2 p-2 text-gray-900 col-span-full border rounded-2xl bg-red-300">{{ message }}</div>
        {% endfor %}
        {{ form_end(formAddPhoto) }}

    </div>

{% endblock %}
